body{
    margin: 0px;
    padding: 0px;
    background-image: url('ado.webp'); /* URL de l'image */
    height: 100vh; /* S'assure que le body prend toute la hauteur de la fenêtre */
    background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}
h1 {
    color: rgb(104, 7, 7); /* Change la couleur des h1*/
}

.header{
    background-color: rgb(16, 92, 10);
    height: 80px;
    margin: 10px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
ul li a{
    color: #dfce38;
    letter-spacing: 0.2rem;
}
ul li a:hover{
    color:rgb(255, 0, 0); 
    text-decoration: underline;
}
.menu li{
  float: left;
  padding: 35px;
}
.menu li a{
   text-decoration: none;
}
form{
    padding: 35px;
    text-align: right;
}
input[type="search"]{
    font-size: 17px; 
}