body {
    margin: 0;
    padding: 0;
    height:100vh;
    background: linear-gradient(beige, gray,cyan, pink);
    background-size :400% 400%;
    animation: bg 12s ease infinite;
}

@keyframes bg {
   0%{
    background-position: 0%  50%;
   }
   50%{
    background-position: 100%  100%;
   }
   100%{
    background-position: 0%  50%;
   }

}
.image-ronde {
    width: 150px; /* Ajuste la taille selon mon besoin */
    height: 150px;  
    border-radius: 50%; /* Transforme l'image en cercle */
    object-fit: cover; /* Assure que l'image reste bien cadrée */
    box-shadow: 0px 0px 15px brown;
}

